* {
  box-sizing: border-box;
}

img {
  display: block;
}

body {
  /* border: border-box; */
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: inherit;
  color: #2e2f42;
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
}

ul,
ol {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  font-family: inherit;
}

h1 {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
}

h3 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  width: 1158px;
  max-width: 1158px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ==================ICONS============ */

.icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.footer-icon-list {
  gap: 16px;
}
.icon-item {
  width: 40px;
  height: 40px;
}
.icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #f4f4fd;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-link:hover,
.icon-link:focus {
  background-color: #404bbf;
}
.footer-icon-link:hover,
.footer-icon-link:focus {
  background-color: #31d0aa;
}

.icon-phas {
  fill: #f4f4fd;
}
.icon-media {
}
/*--------==============  header  ================-------*/

.header {
  margin: 0 auto;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  max-width: 1440px;
  background-position: center;
}

.header-logo {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}
.header-logo-right-part {
  color: #2e2f42;
}

.header-contant-box {
  display: flex;
  justify-content: space-between;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15;
  align-items: center;
}

.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .header-nav-item {
  
} */

.header-nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.current {
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #404bbf;
}

.current::after {
  content: "";
  display: block;
  line-height: 2px;
  position: absolute;

  left: 0;
  bottom: -1px;
  background-color: #404bbf;
  border-radius: 2px;
  height: 4px;
  width: 100%;
}

.header-adress {
  font-style: normal;
  display: flex;
}

.header-adress-list {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

/* .header-adress-item {
  
} */

.header-adress-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: #404bbf;
}

/* ========================  HERO   =========================== */

.hero-section {
  max-width: 1440px;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  background-size: cover;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/background_img/people_office_light.jpg);
  background-repeat: no-repeat;
  background-position: center;
}

.hero-header {
  color: #ffffff;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
}

.hero-button {
  display: block;
  line-height: 1.5;
  background-color: #4d5ae5;
  letter-spacing: 0.04em;
  color: #ffffff;
  font-weight: 500;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* =====================  Advantage   ========================== */

.advant-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .advant-box {
  display: flex;
  flex-direction: column;
} */

/* .advant-header {
  
} */

.advant-list {
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.advant-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.advant-item-header {
  line-height: 1.2;
  margin-bottom: 8px;
}

.advant-item-text {
  /* background-color: #ffffff; */
  font-size: 16px;
}

.advant-box-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  margin-bottom: 8px;
}

.advant-icon {
  /* fill: #4d5ae5; */
}

/* ====================  Team  ========================== */

.team-section {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .team-box {
  display: flex;
  flex-direction: column;
} */

.team-header {
  margin-bottom: 72px;
  background-color: #f4f4fd;
  text-transform: capitalize;
}

.team-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
}

.team-item {
  width: calc((100% - 3 * 24px) / 4);
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.team-item-id {
  padding: 32px 0;
}

.team-item-header {
  text-transform: capitalize;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 8px;
}

.team-item-text {
  color: #434455;
  text-align: center;
}

/* ================   Portfolio   ==================== */

.portfolio-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .portfolio-box {
  display: flex;
  flex-direction: column;
} */

.portfolio-header {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  justify-content: space-between;
}

.portfolio-item {
  width: calc((100% - 48px) / 3);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-imag-box {
  position: relative;

  overflow: hidden;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-overlay-text {
  transform: translateY(0%);
  color: #f4f4fd;
}

.portfolio-overlay-text {
  position: absolute;
  transform: translateY(100%);
  top: 0;
  color: #f4f4fd;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%;
  width: 100%;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-item-id {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-item-header {
  line-height: 1.2;
  margin-bottom: 8px;
}

/* .portfolio-item-text {
 
} */

/* ========================  footer  ====================== */

.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer-box {
  /* background-color: #2e2f42; */
  display: flex;

  align-items: center;
}

.footer-box-logoplusp {
  margin-right: 80px;
}

.footer-logo {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
}

.footer-logo-right {
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
  max-width: 264px;
}

.footer-icon-box {
  margin-right: 80px;
}
.footer-icon-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

/* == footer sub == */

.footer-subscribe-box {
}

.footer-description {
  display: block;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 16px;
}
.footer-subscribe-form {
  display: flex;
  gap: 24px;
}

.subscribe-email-input {
  background-color: transparent;
  min-width: 264px;
  height: 40px;
  padding: 8px 16px;
  color: #ffffff;
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

.subscribe-email-input::placeholder {
  color: #ffffff;
}

.subscribe-email-btn {
  display: flex;

  background-color: #4d5ae5;
  min-width: 165px;
  height: 40px;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;

  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;

  fill: #ffffff;
  border: none;
  border-radius: 4px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-email-btn:hover,
.subscribe-email-btn:focus {
  background-color: #31d0aa;
}
.subscribe-email-btn-icon {
  margin-left: 16px;
}

/* icon rules in the team box */

/* ================== backdrop ==================== */

.backdrop {
  z-index: 99999;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  position: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal {
  position: absolute;
  padding-top: 72px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  top: 50%;
  left: 50%;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translate(-50%, -50%) scale(1);

  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  padding: 0;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #e7e9fc;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}

.modal-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover > .modal-close-icon,
.modal-close-btn:focus > .modal-close-icon {
  fill: #ffffff;
}

.modal-text {
  font-weight: 500;
  text-align: center;
  margin-bottom: 16px;
}

.modal-form-field-wrapper {
  margin-bottom: 8px;
}

.modal-form-field-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
  color: #8e8f99;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  background-color: transparent;
  padding-left: 38px;
  outline: transparent;
  outline: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus {
  border-color: #4d5ae5;
}

.modal-form-input-box {
  position: relative;
}

.modal-form-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: #2e2f42;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-input:focus + .modal-form-input-icon {
  fill: #4d5ae5;
}

.modal-comment-wrapper {
  margin-bottom: 16px;
}

.modal-form-textarea {
  background-color: transparent;
  width: 100%;
  height: 120px;
  padding: 8px 16px 8px 16px;
  color: rgba(46, 47, 66, 0.4);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  border-radius: 4px;

  border: 1px solid rgba(46, 47, 66, 0.4);
  resize: none;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-textarea:focus {
  border-color: #4d5ae5;
  outline: transparent;
}

.modal-form-textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
}

/* checkbox privacy*/

.modal-form-privacy-wrapper {
  margin-bottom: 24px;
}
.modal-form-privacy {
}

.modal-form-privacy-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}
.modal-form-privacy-cust {
  display: inline-flex;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privcy-act-link {
  line-height: 1.33333;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
}

.modal-form-privacy:checked
  + .modal-form-privacy-label
  .modal-form-privacy-cust {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-form-privacy:focus + .modal-form-privacy-label .modal-form-privacy-cust {
  outline: 1px solid #4d5ae5;
}

/* button submit */
.modal-form-submit {
  display: block;
  background-color: #4d5ae5;
  min-width: 169px;
  height: 56px;
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  padding: 16px 32px;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border: none;

  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: #31d0aa;
}
